<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.xiezilailai.example.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exitServlet</servlet-name>
        <servlet-class>com.xiezilailai.example.servlet.exitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyOneStuServlet</servlet-name>
        <servlet-class>com.xiezilailai.example.servlet.modifyOneStuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyOneStuInfoServlet</servlet-name>
        <servlet-class>com.xiezilailai.example.servlet.modifyOneStuInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/user/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exitServlet</servlet-name>
        <url-pattern>/user/exitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>inputStuInfoServlet</servlet-name>
        <servlet-class>com.xiezilailai.example.servlet.inputStuInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStuServlet</servlet-name>
        <servlet-class>com.xiezilailai.example.servlet.deleteStuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>queryAllStuServlet</servlet-name>
        <servlet-class>com.xiezilailai.example.servlet.queryAllStuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inputStuInfoServlet</servlet-name>
        <url-pattern>/student/inputstuinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyOneStuServlet</servlet-name>
        <url-pattern>/student/modifyonestu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyOneStuInfoServlet</servlet-name>
        <url-pattern>/student/modifyonestuinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStuServlet</servlet-name>
        <url-pattern>/student/deletestu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>queryAllStuServlet</servlet-name>
        <url-pattern>/student/queryallstu</url-pattern>
    </servlet-mapping>
</web-app>